// Cores
$fontPrincipal: "Roboto", sans-serif;
$corDeFundo: #f5f6fa;
$corDoCabecalho: #182c61;
$corBotao: #44bd32;
$branco: #fff;
$preto: #000;
$corBotao-Hover: #4cd137;

// Breakpoint
$tablet: 1023px;
$mobile: 767px;
