@use "config/reset";
@use "config/var";
@use "sass:math";

@function pxToem($valor, $base: 16px) {
  @return math.div($valor, $base) + em;
}

body {
  background-color: var.$corDeFundo;
}

li {
  list-style: none;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: var.$corDoCabecalho;
  position: sticky;
  top: 0;
  left: 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: pxToem(16px) 0;
  }
}

.menu {
  display: flex;

  li {
    font-weight: bold;
    margin-left: pxToem(24px);

    a {
      color: var.$branco;
      text-decoration: none;
    }
  }
}

section {
  padding: pxToem(56px) 0;
}

.products {
  margin-top: pxToem(40px);
  display: grid;
  grid-template-columns: repeat(3, 32.66%);
  column-gap: 1%;
  row-gap: 4%;
  width: 100%;
}

.product-item {
  img {
    width: 100%;
    border-radius: 16px;
  }
}

.product-button {
  display: block;
  background-color: var.$corBotao;
  color: var.$branco;
  text-align: center;
  padding: pxToem(8px) 0;
  border-radius: pxToem(8px);
  margin-top: pxToem(8px);
  text-decoration: none;

  &:hover {
    background-color: var.$corBotao-Hover;
  }
}

@media screen and (max-width: var.$tablet) {
  .container {
    max-width: 80%;
  }

  .products {
    grid-template-columns: repeat(2, 48.5%);
    column-gap: 3%;
  }
}

@media screen and (max-width: var.$mobile) {
  .products {
    display: block;
  }

  .product-item {
    margin-bottom: pxToem(32px);
  }
}
